html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.osnova {
    background-color: #151515;
}

.osnovaq {
    color: #FF8C42;
}

.img-n {
    display: flex;
}

.img1 {
    width: 46px;
    height: 45.45px;
    left: 141px;
    top: 52px;
    margin-top: 52px;
    margin-left: 95px;
}

.h2-m {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-top: 43px;
    margin-left: 6px;
}

.description1 {
    font-weight: 600;
    font-size: 75px;
    line-height: 120px;
    margin-top: 227px;
    margin-left: 84px;
    margin-bottom: 72px;
}

.description2 {
    font-size: 36px;
    line-height: 45px;
    margin-left: 84px;
    margin-top: 72px;
    margin-bottom: 39px;
}

.w {
    color: #FF8C42;
    display: flex;
    margin-right: 91px;
}

.home {
    margin-top: 52px;
    margin-left: 290px;
    margin-right: 35px;
    font-weight: 700;
    width: 139px;
    height: 41px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #FF8C42;
}

.menu {
    margin-top: 52px;
    width: 138px;
    font-weight: 700;
    height: 41px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.sc {
    margin-top: 52px;
    width: 347px;
    font-weight: 700;
    height: 41px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin-left: 35px;
}

.cu {
    width: 194px;
    height: 41px;
    margin-right: 91px;
    margin-left: 35px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-top: 52px;
}

.vector {
    margin-left: 84px;
    margin-top: 72px;
    width: 283.5px;
    height: 48px;
}

.class {
    display: flex;
}

.button {
    width: 218px;
    height: 48px;
    background-color: #FF8C42;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    margin-top: 72px;
}

.search {
    margin-right: 15px;
    margin-top: 15px;
}

.try {
    background-color: #FF8C42;
    color: white;
    margin-left: 84px;
    margin-top: 72px;
    margin-bottom: 134px;
    width: 191px;
    height: 68px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.cloud {
    margin-left: 1400px;
    margin-top: -485px;
    margin-bottom: 63px;
    margin-right: 125px;
}

.burger {
    width: 700px;
    height: 697.16px;
    margin-top: -450px;
    margin-left: 197px;
    margin-right: 90px;
}